# Python
.venv/
**/.venv/
__pycache__/
*.pyc
.pytest_cache/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
plan.txt
terraform.tfvars
crash.log
crash.*.log
node-console.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
