aws_region           = "eu-west-2"
project_name         = "eks-interview-demo"
environment          = "dev"
cluster_version      = "1.36"
node_instance_types  = ["t3.medium"]
node_min_size        = 2
node_max_size        = 3
node_desired_size    = 2
github_owner_id      = "YOUR_GITHUB_OWNER_ID"
github_repository_id = "YOUR_GITHUB_REPOSITORY_ID"