aws_region           = "eu-west-2"
project_name         = "eks-interview-demo"
environment          = "dev"
cluster_version      = "1.36"
node_instance_types  = ["t3.small"]
node_min_size        = 1
node_max_size        = 2
node_desired_size    = 1
